.pensionFunds .desktopView{
    padding: 20px; 
}

.pensionFunds h2{
  text-align: center;
}

.desktopView{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.desktopSelect {
  width: 100%;
  margin: 20px;
}

.mobileView{
    display: none;
}

.selectorContainer{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

@media (max-width: 768px) {
    .mobileView {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .desktopView {
      display: none;
    }
  }