
  
  .progressContainer {
    width: 100px; /* Ancho de la barra de progreso */
    height: 24px; /* Altura de la barra de progreso */
    background-color: #293458;
    margin-right: 0px;
    position: relative;
  }
  
  .progressBarFill {
    height: 100%;
  }
  
